@import "./variables.scss";

.adbanner-container {

    .col1 {
        background-color: $text-blue;
        padding: 2rem 6rem;
    }

    .col2 {
        background-color: $text-yellow;
        padding: 2rem 6rem;
    }

    img {
        width: 10rem;
    }
}
