@import "./variables.scss";

.alarm-card {
    border: 0 !important;

    @media only screen and (max-width: 768px) {
       padding: 1rem 2rem; 
    }

    @media only screen and (min-width: 768px) {
        padding: 2rem 4rem; 
    }

    
}

.dot {
    height: 0.5rem;
    width: 0.5rem;
    background-color: $text-orange;
    border-radius: 50%;

    @media only screen and (max-width: 768px) {
        top: 10%;
    }

    @media only screen and (min-width: 768px) {
        bottom: 50%;
    }
}