@import "./variables.scss";

.discover-general-container {
   overflow: hidden;
} 

.discover-container {
    flex: 1 60%;
    background-color: $text-blue;
    padding: 2rem 6rem;
}

.btn-custom-discover {
    background-color: $text-yellow !important;
    border: 0 !important;
    border-radius: 0% !important;
    color: $text-blue !important;
}

.discover-img {
    background-image: url("/arco-della-pace.jpg");
    clip-path: polygon(0 0, 100% 0, 100% 100%, 5% 100%);
    transform: scaleX(1.2);
    flex: 1 40%;
    background-size: cover;
    background-position: 0 80%;
}
