.filter-container {
    background-color: $text-yellow;
    z-index: 2;

    @media screen and (min-width: 768px) {
        margin-top: -6rem;
        padding: 4rem 0 3rem 0;
    }

    @media screen and (min-width: 768px) {
        padding: 8rem 0 3rem 0;
        margin-top: -6.5rem;
        clip-path: polygon(0 0, 97% 0, 100% 100%, 0% 100%);
        width: 95%;
    }
    
}

/* personalizzazione react select control */

.react-select__input-container {
    color: $text-blue !important;
    width: 10rem; // in questo modo il select non cambia continuamente dimensione a secondo del contenuto
}


.react-select__control {
    border-bottom: 1px solid black !important;
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    background-color: $text-yellow !important;
    border-radius: 0 !important;
}

.react-select__menu-list {
    max-height: 12rem !important; /* limita l'altezza del menu */
    overflow-y: auto; /* con questo abilitiamo lo scorrimento verticale */
}

.react-select__indicator-separator {
    display: none;
}

