.carousel-indicators {

    bottom: -4rem !important;
    height: 4px !important; 

    button {
        background-color: $text-yellow !important;
    }
}

.arrowMagazine {
    background-color: $text-yellow;
    top: -8%;
    padding: 0.3rem 0.7rem;
    transform: skewX(20deg);
}

.dot-magazine {
    display: inline-block;
    height: 1rem;
    width: 1rem;
    background-color: $text-blue;
    border-radius: 50%;
}