@import "./partials/variables";
@import "./partials/navbar";
@import "./partials/services";
@import "./partials/footer.scss";
@import "./partials/discover.scss";
@import "./partials/alarm.scss";
@import "./partials/adbanner.scss";

.text-blue {
    color: $text-blue;
}

.text-yellow {
    color: $text-yellow;
}

.text-orange {
    color: $text-orange;
}

// DA METTERE A POSTO
// navbar active 