@import "./partials/variables";
@import "./partials/navbar";
@import "./partials/activities";
@import "./partials/footer.scss";
@import "./partials/discover.scss";
@import "./partials/alarm.scss";
@import "./partials/adbanner.scss";
@import "./partials/magazine.scss";

.text-blue {
    color: $text-blue;
}

.text-yellow {
    color: $text-yellow;
}

.text-orange {
    color: $text-orange;
}

h4, h5, p {
    user-select: none;
    cursor: pointer;
}

// DA METTERE A POSTO
// navbar active 