@charset "UTF-8";
/* Navbar Style*/
nav {
  user-select: none;
  cursor: pointer;
}

.nav-link {
  padding: 0 !important;
  margin: 0 1.5rem;
}

.nav-link {
  color: #033a78 !important;
}

.bi {
  z-index: 20 !important;
  font-size: 1.2rem;
  position: relative;
}

.active-link {
  position: relative;
  z-index: 1;
}

.active-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.1rem; /* sottolineatura verso il basso */
  width: 100%;
  height: 0.4rem; /* spessore */
  background-color: #e0eb62; /* colore */
  z-index: 0;
}

@media only screen and (max-width: 768px) {
  nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  nav ul .nav-link {
    list-style: none;
  }
  nav img {
    width: 5rem;
    border-radius: 8rem;
    padding: 1rem;
  }
}
@media only screen and (min-width: 768px) {
  nav {
    margin-right: 10rem;
  }
  nav ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  nav ul .nav-link {
    list-style: none;
    padding-left: 2rem;
  }
  nav img {
    width: 5rem;
    border-radius: 8rem;
    padding: 1rem;
  }
}
.postural-container .card {
  width: 100%;
  /* height: 12rem; */
}
.postural-container img {
  width: 100%;
  height: 100%;
}

.btn-custom {
  background-color: white !important;
  border: 0.2rem solid #ef996d !important;
  border-radius: 0% !important;
  color: #033a78 !important;
}

.attività-attesa-sm {
  margin-top: 5rem !important;
}

.postural-training-bg {
  background-color: #e0eb62;
  clip-path: polygon(0 0, 92% 0, 100% 100%, 0% 100%);
  padding: 0.8rem;
  transform: scaleX(1.12);
}

.postural-training {
  color: #033a78 !important;
}

@media only screen and (min-width: 768px) {
  .social-icon {
    margin-right: 10rem;
  }
}
@media only screen and (max-width: 768px) {
  .social-icon {
    margin-right: 0;
  }
}
.social-icon img {
  width: 2rem;
}
.social-icon .it-flag {
  width: 2rem;
}

.discover-general-container {
  overflow: hidden;
}

.discover-container {
  flex: 1 60%;
  background-color: #033a78;
  padding: 2rem 6rem;
}

.btn-custom-discover {
  background-color: #e0eb62 !important;
  border: 0 !important;
  border-radius: 0% !important;
  color: #033a78 !important;
}

.discover-img {
  background-image: url("/arco-della-pace.jpg");
  clip-path: polygon(0 0, 100% 0, 100% 100%, 5% 100%);
  transform: scaleX(1.2);
  flex: 1 40%;
  background-size: cover;
  background-position: 0 80%;
}

.alarm-card {
  border: 0 !important;
}
@media only screen and (max-width: 768px) {
  .alarm-card {
    padding: 1rem 2rem;
  }
}
@media only screen and (min-width: 768px) {
  .alarm-card {
    padding: 2rem 4rem;
  }
}

.dot {
  height: 0.5rem;
  width: 0.5rem;
  background-color: #e78250;
  border-radius: 50%;
}
@media only screen and (max-width: 768px) {
  .dot {
    top: 10%;
  }
}
@media only screen and (min-width: 768px) {
  .dot {
    bottom: 50%;
  }
}

.adbanner-container {
  overflow: hidden;
}
.adbanner-container .col1 {
  background-color: #033a78;
  padding: 2rem 6rem;
  flex: 1 55%;
}
.adbanner-container .col2 {
  background-color: #e0eb62;
  padding: 2rem 6rem;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 5% 100%);
  transform: scaleX(1.3);
  flex: 1 45%;
}
.adbanner-container img {
  width: 10rem;
}

.carousel-indicators {
  bottom: -4rem !important;
  height: 4px !important;
}
.carousel-indicators button, .carousel-indicators .activity-gym .reservation-button, .activity-gym .carousel-indicators .reservation-button, .carousel-indicators .activity-gym .cancel-button, .activity-gym .carousel-indicators .cancel-button, .carousel-indicators .activity-gym .subscribe-button, .activity-gym .carousel-indicators .subscribe-button {
  background-color: #e0eb62 !important;
}

.arrowMagazine {
  background-color: #e0eb62;
  top: -8%;
  padding: 0.3rem 0.7rem;
  transform: skewX(20deg);
}

.dot-magazine {
  display: inline-block;
  height: 1rem;
  width: 1rem;
  background-color: #033a78;
  border-radius: 50%;
}

.days-container {
  background-color: #033a78;
  width: 80%;
  padding: 1rem;
  margin-left: auto;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 3% 100%);
}
.days-container .day {
  color: #033a78;
  background-color: #e0eb62;
  padding: 0 3.5rem;
  clip-path: polygon(0 0, 80% 0, 100% 100%, 20% 100%);
}
.days-container .day p, .days-container .day h5 {
  margin: 0.2rem 0;
}

.filter-container {
  background-color: #e0eb62;
  padding: 2rem;
  width: 95%;
  clip-path: polygon(0 0, 97% 0, 100% 100%, 0% 100%);
}

/* personalizzazione react select control */
.react-select__input-container {
  color: #033a78 !important;
}

.react-select__control {
  border-bottom: 1px solid black !important;
  border-top: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
  background-color: #e0eb62 !important;
  border-radius: 0 !important;
}

.react-select__indicator-separator {
  display: none;
}

.activity-gym {
  height: 6rem;
  padding-right: 1rem;
  overflow: hidden;
  /* proprietà comuni per i pulsanti */
  /* pulsante di iscrizione */
  /* pulsante annulla */
}
.activity-gym .div-img {
  width: 15%;
}
.activity-gym .div-img div {
  background-color: var(--custom-color);
  height: 7rem;
  width: 0.35rem;
}
.activity-gym .div-img img {
  width: 100%;
  height: 100%;
  clip-path: polygon(0 0, 94% 0, 100% 100%, 0% 100%);
}
.activity-gym button, .activity-gym .reservation-button, .activity-gym .cancel-button, .activity-gym .subscribe-button {
  font-weight: 700;
}
.activity-gym .subscribe-button {
  /* estendo le proprietà comuni */
  background-color: #e0eb62;
  padding: 1rem 5rem;
  border: 0;
  color: #033a78;
}
.activity-gym .cancel-button {
  background-color: inherit;
  padding: 1rem 4.8rem;
  border: 0.2rem solid #e78250;
  color: #e78250;
}
.activity-gym .reservation-button {
  background-color: inherit;
  padding: 1rem 2.4rem;
  border: 0.2rem solid #033a78;
  color: #033a78;
}

.text-blue {
  color: #033a78;
}

.text-yellow {
  color: #e0eb62;
}

.text-orange {
  color: #e78250;
}

div {
  user-select: none;
  /* cursor: pointer; */
}

.starter-bg {
  z-index: -2000;
  width: 100%;
  height: 20rem;
  position: absolute;
  top: 1rem;
  left: 0;
  overflow: hidden;
}
.starter-bg .starter-1 {
  background-color: #033a78;
  flex: 1 55%;
}
.starter-bg .starter-2 {
  background-color: #e0eb62;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 5% 100%);
  transform: scaleX(1.3);
  flex: 1 45%;
}

.bg-yellow {
  background-color: #e0eb62;
}

.border-yellow {
  border: 0.15rem solid #e0eb62;
}

.border-red {
  border: 0.15rem solid rgb(254, 30, 30);
}/*# sourceMappingURL=style.css.map */